.header{
    background: $off-black;
    color: #fff;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

.header__title{
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    font-weight: 500;
    font-size: $m-size;
    color: $off-white; 
}